streamlit==1.45.1
streamlit-extras==0.4.0
pandas==2.2.3
numpy==1.26.4 # pinecone-text와 호환되도록 numpy 버전을 1.x로 고정
selenium==4.33.0
webdriver-manager==4.0.2
beautifulsoup4==4.13.4
requests==2.32.3
feedparser==6.0.11
openai==1.77.0
langchain==0.3.25
langchain-openai==0.3.18
langchain-community==0.3.24
langchain-core==0.3.70
langchain-text-splitters==0.3.8
langgraph==0.4.5
langchain-teddynote==0.3.45
langchain-chroma==0.2.5
chromadb==1.0.9
pysqlite3-binary>=0.5.0
plotly==6.1.0
openpyxl==3.1.5
Pillow==11.2.1
python-dotenv==1.1.0
asyncio-throttle==1.0.0
pinecone-text==0.10.0
torch>=2.0.0
